<div class="max-hight-content drag-none">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="wrap-content">
      <div class="h-100 w-100 pl-3 pr-3">
        <div class="d-flex align-items-center">
          <img src="./assets/images/back_arrow.svg" class="back-button drag-none" alt="back" (click)="_location.back()">
          <h5 class="mb-0 ml-2 text-bold-md">
            Register
          </h5>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>