.wrap-content {
  width: 375px;
  height: 664px;
  background: #17191a 0% 0% no-repeat padding-box;
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  color: #fff;
}

.max-hight-content {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.back-button {
  height: 4rem;
  cursor: pointer;
}

.drag-none {
  -webkit-user-drag: none;
  user-select: none;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .wrap-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
